@model IEnumerable<ServiceStation.Data.Entities.Client>

@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    @using (Html.BeginForm("Index", "Client"))
    {
        <label>Enter name:</label>
        @Html.TextBox("searchString", null, new { @class = "input-sm", @type = "text" })
        <input type="submit" value="Search" class="btn btn-default btn-sm" />
    }
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Clients list</h4>
    </div>

    <div class="panel-body">
    <p>
        @Html.ActionLink("New client", "Create", "Client", null, new { @class = "btn btn-default btn-primary"})
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Card", "Details", new { id = item.ClientId }, new { @class = "btn btn-default btn-sm btn-info" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClientId, returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClientId }, new { @class = "btn btn-default btn-sm" })
                </td>
            </tr>
        }

    </table>
        </div>
    </div>
